body {
  font-family: monospace;
  background-color: #474747;
  color: #DDDDDD;
}

.container {
  padding: 6em;
}
  

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

a {
  font-weight: bold;
  text-decoration: underline;
  color: #DDDDDD;
}

